/* Удалите или закомментируйте этот блок отладки */
/*
* {
    outline: 1px solid red;
}
*/

@font-face {
	font-family: 'Century Gothic';
	font-weight: normal;
	font-style: normal;
	src:url('https://kristy98755.github.io/startpage/CenturyGothic.woff')format('woff'); 

}

@font-face {
	font-family: 'Century Gothic';
	font-weight: bold;
    font-style: normal;
    src:url('https://kristy98755.github.io/startpage/CenturyGothic-Bold.woff')format('woff');

}

@font-face {
    font-family: 'Century Gothic';
	font-weight: bold;
    font-style: italic;
    src:url('https://kristy98755.github.io/startpage/CenturyGothic-BoldItalic.woff')format('woff');

}

@font-face {
    font-family: 'Century Gothic';
	font-weight: normal;
    font-style: italic;
    src:url('https://kristy98755.github.io/startpage/CenturyGothic-Italic.woff')format('woff');

}

@font-face {
    font-family: 'Palatino Linotype';
	font-weight: normal;
    font-style: normal;
    src:url('https://kristy98755.github.io/startpage/PalatinoLinotype.woff')format('woff'); 

}

@font-face {
    font-family: 'Palatino Linotype';
	font-weight: bold;
    font-style: normal;
    src:url('https://kristy98755.github.io/startpage/PalatinoLinotypeBold.woff')format('woff'); 

}

a {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0;
    font-family: Century Gothic;
}

.zagolovok {
    width: 100%;
    background: url('https://kristy98755.github.io/startpage/repeatable.png');
    height: auto;
    white-space: nowrap;
    position: relative;
    background-repeat: repeat-x;
    font-family: Palatino Linotype;
    font-size: calc(4vw + 4vh + 2vmin);
    text-shadow: -1px -1px 0 #DDD, 1px -1px 0 #DDD, -1px 1px 0 #DDD, 1px 1px 0 #DDD;
    overflow: hidden;
 
}

.heading {
    width: 50vw; 
    white-space: nowrap;
    font-family: Palatino Linotype;
    font-size: 4vw;
    text-shadow: -1px -1px 0 #DDD, 1px -1px 0 #DDD, -1px 1px 0 #DDD, 1px 1px 0 #DDD;
	margin: 10px auto;
}

.toolbar {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    z-index: 10;
    width: 100%; /* Добавлено для гарантированной ширины */
}

.plitka {
    background-color: #d0d048;
    flex: 1 1 20%; 
    font-size: calc(1vw + 2vh + 1vmin);  
    text-align: center;
    padding: 3px; 
    box-sizing: border-box;
    min-width: 100px; 
    border-right: 1px solid black;
    border-left: 1px solid black;
    cursor: pointer;
    position: relative; 
}

.active {
    background-color: #a7a71d;
    text-decoration: underline;
}

.hidden-items {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;  
    top: 100%;          
    left: 0;             
    z-index: 11;
}

.catalog {
    position: relative;  
}

.catalog:hover .hidden-items {
    display: flex;
}

.hidden-items .plitka {
    width: 100%;
    border-right: none;
    border-left: none;
    border-top: 1px solid black;
    background-color: #a7a71d;
    font-size: calc(1vw + 2vh + 1vmin - 5.32px);
}

.hidden-items .submenu1 .plitka {
    width: 100%;
    border-right: none;
    border-left: 1px solid black;
    border-top: 1px solid black;
    background-color: #777700;
}

.submenu1 {
    display: none;
    flex-direction: column;
    width: calc(100% + 3px);
    position: absolute;
    bottom: -1px;
    left: 100%;
    background-color: #777700;
    z-index: 12;
}

.hidden-items .plitka:hover .submenu1 {
    display: flex;
}

.hidden-items .plitka:last-child {
    border-bottom: 1px solid black;
}

.submenu1 .plitka:last-child {
    border-bottom: 1px solid black;
}

.cards-grid {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.greencard {
    width: 22vw;
    cursor: pointer;
    border-radius: 10px;
    border: 1px ridge #AAA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    overflow: hidden;
    background-color: #fff;
	margin-top: var(--gap);
    margin-bottom: var(--gap);

}

.image-container {
    position: relative;
}

.greencard img {
    width: 100%;
    display: block;
}

.greencard .info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	height:15%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
	text-align: center;
    font-size: calc(1vw + 1.5vh + 1vmin);
	display: flex;
    justify-content: center;
    align-items: center;

}

.image-container:hover .info {
    transform: translateY(0);
}

.greencard .caption {
    text-align: center;
    padding: 10px 0;
    background: #d0d048;
    font-size: calc(1vw + 1vh + 1vmin);
    position: relative;
    z-index: 2;
	margin-bottom:0;
}
	
.greencard:hover {
    transform: scale(1.05);
}

.margins {
    margin: 15px;
    /* outline: 1px solid blue; */ /* удалено для удаления отладочного контура */
}

.desc-block {
	display: flex;
    justify-content: space-around;
	align-items: center;
	width: calc(100vw - 30px);
	height: auto;
}

.desc-pic {
	width: 30vw;
	height: 30vw;
    border-radius: 10px;
    border: 1px ridge #AAA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
	position:relative;
}
.desc-pic img {
	width:100%;
	display: block;
}

.desc-pic .info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	height: 15%;
	padding: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
	text-align: center;
    font-size: calc(1vw + 2vh + 1vmin);
	display: flex;
    justify-content: center;
    align-items: center;


}

.desc-pic:hover .info {
    transform: translateY(0);
}

.table-container {
	flex-direction:column;
}
table {
        width: 60vw;
        border-collapse: collapse;
		border-radius: 10px;
		overflow: hidden;
		font-size: calc(1vw + 0.3vh + 1vmin);  

}
.tableborder {
  border-radius: 10px;
}
table, th, td {
        border: none;
		border-left: 1px solid black;
		padding: 10px;
		
}


tr:nth-child(odd) {
background-color: #a7a71d;
}
tr:nth-child(even) {
background-color: #d0d048;
}
